<ion-view view-title="Welcome">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <img src="img/imt.jpg" width="100%"/>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h1>Conférence</h1>
        <h2>{{begin.calendar()}} - {{end.calendar()}}</h2>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <a class="button button-positive" href="#/app/sessions">
              See sessions
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a class="button button-positive" href="#/app/speakers">
              See speakers
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
