<?xml version='1.0' encoding='utf-8'?>
<widget id="com.saaac.culturecountsconference" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Culture Counts Conference</name>
    <description>
       Official application of the 2018 Culture Counts Conference. 
    </description>
    <author email="jordanpjamieson@gmail.com">
        Jordan Jamieson
    </author>
    <content src="index.html" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access launch-external="yes" origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <allow-navigation href="*" />

</widget>
