.container {
    padding-right: 0px !important; 
    padding-left: 0px !important; 
  };

td, th {
	text-align: center;
	padding: 3px;
}

table {
	margin-bottom: 40px;
}

table, td, th, input {
	border-radius: 3px;
	border: 1px solid #ddd;
	color: #555;
	font-size: 14px;
	line-height: 25px;
}

input {
	padding: 4px 12px;
}

label {
	margin-right: 14px;
}

.content-margin {
	margin-top: 75px;
}

.person-filter {
	margin-bottom: 25px;
}

.person-filter > li > a {
	padding: 8px 12px;
	font-size: 12px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}



img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}




.wrap {
  margin: 0 auto;
  max-width: 640px;
}

thead {
    display: none;
}

tr {
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
  
    box-shadow: 0 0 1rem transparentize( black, 0.9 );
}

tr:nth-child(even) {background: blue}
tr:nth-child(odd) {background: green}

td {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
    background-color: white;
    border: 1px solid transparentize( #58C25F, 0.5 );

}

td:before {
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: 0.625rem 0.5rem 0.625rem;
    font-size: 0.75em;
    font-weight: bold;
    background: transparentize( #58C25F, 0.9 );
    color: #58C25F;
}

td[data-label="Column D"] {
    display: block;
    float: none;

    &:before {
        display: block;
        margin-right: -0.5rem;
        margin-bottom: 0.5rem;
        float: none;
    }
}

td:empty {
    display: none;
}

td.tpl {
width:15vw !important;
text-align: center;
height: 50px;
vertical-align: middle !important;
padding-top: 12px;
border-radius: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 40, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-weight: bold;

}

td.tpr {
width:57vw !important;
text-align: center;
height: 50px;
vertical-align: middle !important;
padding-top: 12px;
border-radius: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 40, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-weight: bold;
}

td.middlerow {
width:91.5vw !important;
text-align: center;
height: 50px;
vertical-align: middle !important;
padding-top: 12px;
border-radius: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 40, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-weight: bold;
}

td.bottomrow {
width:44.7vw !important;
text-align: center;
height: 50px;
vertical-align: middle !important;
padding-top: 12px;
background-color: black;
color: white;
border-radius: 40px;
font-weight: bolder;


}

td.bottomrow a {color: white;}
td.bottomrow button {
  width:45.7vw !important;
text-align: center;
height: 50px;
vertical-align: middle !important;
padding-top: 0px;
background-color: transparent;
color: white;
border: none;
font-weight: bold;

margin-top: -13px;
margin-left: -6px;}

#myInput {
  width:93.5vw;
  margin-left: 2vw;
  height: 50px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2.5em;
}

.menu{
    margin:20px;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 ;
    background-color: white;
    display: none;
    overflow: hidden;
      transition: max-height 0.2s ease-out;
}